
/* Styles Contact width 100% Display */

.section-main.section-inverted{
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-template-areas: "title"
    "data"
    "sms"
    "submit";
    background-color: #b12525;
    background-color: var(--red-color);
    margin: 0;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

}

.section-inverted{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.section-inverted h2{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    grid-area: title;
    text-align: center;
    font-size: 1.8rem;
    font-family: Orbitron-ExtraBold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 0 var(--dark-color);
    margin-top: 15px;
}

/* Styles Text & Inputs */

.contact-text{
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.contact-data {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-row: 1;
    display: -ms-grid;
    display: grid;
    grid-area: data;

}

.contact-sms{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-area: sms;
}
.contact-data,
.contact-sms{
    font-size: 1rem;
    margin: 10px 0;
}

.actions {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    grid-area: submit;
    display: -ms-grid;
    display: grid;
    margin: 10px 0;
}

/* Style Inputs */
.section-inverted input[type="text"],
.section-inverted input[type="email"],
.section-inverted textarea{
    font-size: 1rem;
    padding: 3px;
}

.section-inverted textarea{
    font-size: 1.3rem;
}

.section-inverted input[type="text"],
.section-inverted input[type="email"]{
    border-radius: 50px;
}

.section-inverted label{
    padding: 8px 5px;
}

.section-inverted input[type="submit"]{
    font-size: calc(1em + 1vw);
    width: 100%;
    border-radius: 50px;
    padding: 3px;
    color: white;
    background-color: #0c0c0c;
    background-color: var(--dark-color);

}

/* Start Media Queries */
@media (min-width: 768px){

 .contact-text{
     max-width: 1250px;
     max-width: var(--max-width);
     display: -ms-grid;
     display: grid;
     -ms-grid-columns: 1fr 1fr;
     grid-template-columns: 1fr 1fr;
     -ms-grid-rows: auto;
     grid-template-rows: auto;
     grid-template-areas: "title title"
    "data sms"
    "submit submit";
     gap: 15px;
     margin: 0 auto;
    }

    .contact-text{
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }

    .actions {
        display: -ms-grid;
        display: grid;
        grid-area: submit;
        width: 20%;
        margin: 15px auto;
    }

}



