
/* Styles Section Main / Section / Articles */
.section-main{
        max-width: 450px;
        margin: 10px auto;
        display:-ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 1rem;
    }
    .section-main h1{
        width: 100%;
        position: relative;
        padding: 8px 0;
    }
    .title-section-main{
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    .article{
        position: relative;
    }
    .section-main .article{
        -webkit-flex-basis: calc(100% / 2);
        flex-basis: calc(100% / 2);
        padding: 0 5px;
    }

    /* Size Img */
    .film-img{
        height: 200px;
        width: 100%;
        border-radius: 15px;
    }

    /* Styles Icon Favorite*/
    .film-card i{
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .icon-star-empty-2,
    .icon-star-full-3{
        font-size: 1.5rem;
        color: white;
    }

    .article_4 i,
    .article_2 i,
    .article-favorite-all i{
        color: yellow;
    }

    /* Styles Card Film */
    .film-card-info{
        padding: 8px 0;
        color: white;
        border-top: 2px solid grey;
    }

    .title-info-card,
    .title-info-sipno{
        color: #ffffff;
        font-size: calc(.55em + 1vw);
        letter-spacing: .1rem;
        padding: 5px 0;
    }

    .title-info-sipno{
        color: #eec500;
        text-shadow: 1px 2px 0 black;
        font-family: Title-sipno, Arial, Helvetica, sans-serif;
    }

    .film-card-info p{
        font-size: calc(.5em + 1vw);
        padding: 5px 0 8px 0;
    }

    /* Start Media Queries */

    @media (max-width: 320px){
        .section-main{
            padding: 0 10px;
        }

        /* Size Height Img */
        .film-img{
            height: 170px;
        }

        /* Size Text Card */
        .title-info-sipno,
        .title-info-card{
            font-size: calc(.55em + 1vw);
        }

        .film-card-info p{
            font-size: calc(.5em + 1vw);
        }

    }

    @media (min-width: 576px){

        /* Styles Section Main */
        .section-main{
            max-width: 700px;
            padding: 0 80px;
        }

        /* Size Img */
        .film-img{
            height: 290px;
            width: 100%;
        }

    }

    @media (min-width: 768px) {
        /* Styles Section Main / Section / Articles */
        .section-main {
            max-width: 1250px;
            max-width: var(--max-width);
            margin: 0 auto;
            padding: 0 20px;
        }

        .section-main .article{
            -ms-flex-direction: row;
            flex-direction: row;
           -webkit-flex-basis: calc(100% / 4);
            flex-basis: calc(100% / 4);
            padding: 4px 3px;
        }

        .title-section-main{
            font-size: 2rem;
        }

        /* Size Img*/

        .film-img {
            height: 250px;
        }

        /* Styles Card Film */
        .film-card-info {
            position: absolute;
            bottom: 0px;
            padding: 9px 10px;
            height: 100%;
            opacity: 0;
            transition: ease-in-out 700ms;
            background-color: rgba(0, 0, 0, 0.95);
        }

        .film-card-info:hover{
            height: 100%;
            width: 100%;
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.9);
            color: white;

        }

        /* Size Text Card */
        .title-info-sipno,
        .title-info-card{
            font-size: calc(.4rem + 1vw);
        }

        .film-card-info p{
            font-size: calc(.3rem + 1vw);
        }

    }

    @media (min-width: 992px){

        .section-main{
            padding: 0 50px;
        }

        .film-img{
            height: 350px;
            width: 100%;
        }
    }

    @media (min-width: 1200px){

        .film-img{
            height: 400px;
            width: 100%;
        }

    }

/* Media Queries Device Whitout Hover */
    @media (hover: none) {
        .film-card-info {
            position: unset;
            color: white;
            opacity: 1;
            background: transparent;
        }
    }

