
/* Styles Header Cover */
.header-detail{
    margin-top: 50px;
    margin-bottom: 5px;
    max-height: 50%;
}
.header-detail img{
    width: 100vw;
    max-height: 80vh;
}

/* Style Container Detail */
.container-detail{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            "title-sipno"
            "sipno"
            "title-video"
            "video"
            "title-info"
            "info";
    gap:20px;
    max-height: 100%;
    padding: 0 15px;
}

.sipno{
    grid-area: sipno;
}

.info{
    grid-area: info;
}
.video{
    grid-area: video;
    max-height: 100%;
}

.title-video{
    grid-area: title-video;
}
.title-info{
    grid-area: title-info;
}

.title-sipno{
    grid-area: title-sipno;
}

/* Style Text */
.info p{
    padding: 3px 0;
    font-size: 1.1rem;
}

.info span {
    color: var(--red-color);
    text-shadow: 1px 1px 0 var(--dark-color);
    font-size: 1.1rem;
    text-transform: uppercase;
}
.sipno p{
   line-height: 1.5rem;
    font-size: 1.1rem;
}

.film-card-info{
    display: none;
}

/* Start Media Queries */

@media (min-width: 768px) {

    .header-detail{
        margin-top: 50px;
    }

    .container-detail{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "title-video title-info"
            "video info"
    "title-sipno info"
    "sipno sipno";
        gap:20px;
        padding: 0 50px;
    }

}

