footer{
    height: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
    background-color: var(--dark-color);
    color: white;
}

.footer p{
    text-align: center;
    font-size: 18px;
}

.icons {
    font-size: 18px;
    margin-top: 13px;
}

.icons a{
    padding: 5px;
    text-decoration: none;
    color: white;
}

/* Star Media queries */

@media (min-width: 768px) {
    footer.footer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        padding: 0 20px;
    }
    .icons {
        justify-content: space-between;
        font-size: 25px;
    }

    .icon-facebook2:hover {
        color: #3e3ef5;
    }

    .icon-instagram:hover {
        color: #d0661f;
    }

    .icon-twitter:hover {
        color: #449fdb;
    }

    .icon-youtube:hover {
        color: red;
    }
}