body{
    background-color: #242424;
    color: white;
    font-family: Play;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--red-color);
    z-index: 9999;
}

.navbar .logo {
    font-family: Movie, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: var(--navbar-height);
    font-size: 2rem;
    text-shadow: 2px 2px 0 var(--dark-color);
    text-transform: uppercase;
    letter-spacing: .1rem;

    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
}

.navbar .burger-label {
    width: var(--navbar-height);
    height: var(--navbar-height);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
}

.burger-label:before {
    content: '';
    background-color: azure;
    width: 1em;
    height: 0.12em;
    position: absolute;
    left: 0.1em;
    top: 0.25em;
    box-shadow: 0 0.25em 0 0 azure, 0 0.5em 0 0 azure;
}

/* menú cerrado */
.navbar-list {
    display: none;
    list-style: none;
    margin: 0;
}

#burger-checkbox {
    display: none;
}

/* menú abierto */
#burger-checkbox:checked ~ .navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--dark-color);
    opacity: 0.9;
    padding: 0;
    height: calc(100vh - var(--navbar-height));
}

.navbar-item >a{
    text-decoration: none;
    color: azure;
    line-height: 1.5rem;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-family: Play;
}

.navbar-search{
    display: inline-block;
    margin: 0 auto;
}

.searching{
    display: inline-block;
    border-radius: 20px;
    padding: 0 5px;
    width: 100%;
    font-size: 1.2rem;
}

.navbar-submenu-control{
    display: none;
}

@media (min-width: 768px) {
    .navbar {
        display: flex;
    }

    .navbar .logo {
        margin: 0 .5rem;
    }

    .navbar .burger-label {
        display: none;
    }

    .navbar-list {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        flex-direction: row;
        background-color: var(--red-color);
        margin: 0 .5rem;
    }

    .navbar-item > a{
        display: flex;
        color: white;
        line-height: var(--navbar-height);
        padding: 0 .5rem;
        font-size: inherit;
    }

    .navbar-item > a:hover {
        background-color: var(--dark-color);
        color: azure;
        transition: ease-in-out 1s;
    }

    .navbar-search{
        line-height: 50px;
        padding: 0 3px;
        margin: 0;
    }

    .searching{
        border-radius: 20px;
        padding: 0 5px;
        width: 110px;
        font-size: 1rem;
    }
    .navbar-submenu-control{
        display: block;
    }

    .navbar-submenu{
        display: none;
        position: absolute;
        right: 0;
        border: 2px solid var(--dark-color);
        line-height: 1rem;
        background-color: #f3f1f1;

    }

    .navbar-item-submenu{

        min-width: 100%;
        padding: 1rem 3rem;
    }

    .navbar-item-submenu:hover{
        background-color: #d2d0d0;
        width: 100%;
        transition: ease-in-out .4s;
    }
    .navbar-item-submenu a{
        font-family: Orbitron-Regular;
        color: var(--dark-color);
    }

    .navbar-submenu-control:hover .navbar-submenu{
        display: flex;
        flex-direction: column;
    }
    .navbar-out-mobile{
        display: none;
    }

    .icon-user{
        line-height: 50px;
        font-size: 1.5rem;
    }
}






