.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--red-color);
    z-index: 9999;
}

.navbar .logo {
    font-family: Movie, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: var(--navbar-height);
    font-size: 2.5rem;
    text-shadow: 2px 2px 0 var(--dark-color);
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.navbar .burger-label {
    width: var(--navbar-height);
    height: var(--navbar-height);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
}

.burger-label:before {
    content: '';
    background-color: azure;
    width: 1em;
    height: 0.12em;
    position: absolute;
    left: 0.2em;
    top: 0.25em;
    box-shadow: 0 0.25em 0 0 azure, 0 0.5em 0 0 azure;
}

/* Menú Cerrado */
.navbar-list {
    display: none;
    list-style: none;
    margin: 0;
}

#burger-checkbox {
    display: none;
}

/* Menú Abierto*/
#burger-checkbox:checked ~ .navbar-list {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    background-color: var(--dark-color);
    opacity: 0.9;
    padding: 0;
    height: calc(100vh - var(--navbar-height));
}

.navbar-item >a{
    text-decoration: none;
    color: azure;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    font-family: Play;
}

.navbar-search{
    display: inline-block;
    margin: 0 auto;
}

.searching{
    display: inline-block;
    border-radius: 20px;
    padding: 0 5px;
    width: 100%;
    font-size: 1.1rem;
}

/* Submenu Oculto*/
.navbar-submenu-control{
    display: none;
}

/* Inicio Media queries*/
@media (min-width: 576px){

}

@media (min-width: 768px) {
    .navbar {
        display: flex;
    }

    .navbar .logo {
        margin: 0 .5rem;
        font-size: 2rem;
    }

    .navbar .burger-label {
        display: none;
    }

    .navbar-list {
        display: flex;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        background-color: var(--red-color);
        margin: 0 1rem;
    }

    .navbar-item > a{
        display: flex;
        color: white;
        line-height: var(--navbar-height);
        padding: 0 .5rem;
        font-size: inherit;
    }

    .navbar-item > a:hover {
        background-color: var(--dark-color);
        color: azure;
        -webkit-transition: ease-in-out .7s;
        -moz-transition: ease-in-out .7s;
        -o-transition: ease-in-out .7s;
        transition: ease-in-out .7s;
    }

    .navbar-search{
        line-height: 50px;
        padding: 0 3px;
        margin: 0;
    }

    .searching{
        border-radius: 20px;
        padding: 0 5px;
        width: 115px;
        font-size: 1rem;
    }
    .navbar-submenu-control{
        display: block;
    }

    .navbar-submenu{
        display: none;
        position: absolute;
        right: 0;
        border: 2px solid var(--dark-color);
        line-height: 1rem;
        background-color: #f3f1f1;
    }

    .navbar-item-submenu{
        min-width: 100%;
        padding: 1rem 3rem;
    }

    .navbar-item-submenu:hover{
        background-color: #d2d0d0;
        width: 100%;
        -webkit-transition: ease-in-out .4s;
        -moz-transition: ease-in-out .4s;
        -o-transition: ease-in-out .4s;
        transition: ease-in-out .4s;
    }

    .navbar-item-submenu a{
        font-family: Orbitron-Regular, Arial, Helvetica, sans-serif;
        color: var(--dark-color);
    }

    @keyframes aparece {
        from {
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .navbar-submenu-control:hover .navbar-submenu{
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-animation-name: aparece;
        -moz-animation-name: aparece;
        -o-animation-name: aparece;
        animation-name: aparece;
        animation-duration: 1s;
    }

    .navbar-out-mobile{
        display: none;
    }

    .icon-user{
        line-height: var(--navbar-height);
        font-size: 1.5rem;
    }
}






