
/* Estilos Globales*/

:root{
    --max-width: 900px;
    --dark-color: #0c0c0c;
    --red-color: #b12525;
    --navbar-height: 50px;
}

@font-face {
    font-family: "Movie";
    src: url("../fonts/Movie_title.ttf") format("truetype");
}

@font-face {
    font-family: "Orbitron-Regular";
    src: url("../fonts/Orbitron-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url("../fonts/Orbitron-ExtraBold.ttf") format("truetype");
    font-weight: bold;
}

@font-face{
    font-family: "Play";
    src: url("../fonts/Play-Regular.ttf") format("truetype");
}

body{
    background-color: #242424;
    color: white;
    font-family: Play;
}

li,
a{
    text-decoration: none;
    list-style: none;
}

.container-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 70px;
    grid-template-areas: "navbar"
    "header"
"main"
"footer";
}

nav{
    grid-area: navbar;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.section-main img{
    height: 270px;
}

input{
    font-family: Play, Arial, Helvetica, sans-serif;
}

label{
    font-family: Play, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: Orbitron-Regular, Arial, Helvetica, sans-serif;
}
